<!DOCTYPE html>
<html>
  <head>
    <title>About Us Section</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/style_about.css"
    />
  </head>
  <body>
    <div class="section">
      <div class="container">
        <a href="/index"><i class="fas fa-window-close close"></i></a>
        <div class="content-section">
          <div class="title">
            <h1>About Us</h1>
          </div>
          <div class="content">
            <h3>Sentiment Analysis - Final Year Project</h3>
            <h4>Developed By</h4>
            <p>
              <span>Anshul Kumar Patre</span> (above in the photo) - DevOps
              Engineer, ML Enthusiast
            </p>
            <p>
              <span>Sourav Nayak</span> (below in the photo) - Full Stack
              Developer
            </p>
            <p>B.Tech Final Year Students 2022 - SOA ITER Bhubaneswar</p>
            <p>To read more about our project click below</p>
            <div class="button">
              <a
                href="https://docs.google.com/presentation/d/13LVhdhWFNDdynNjQba3vWxe3Hl_DeA_Bp5Mg43JK78U/edit?usp=sharing"
                target="_blank"
                >Read More</a
              >
            </div>
          </div>
          <div class="social">
            <a
              href="https://github.com/anshulpatre/Sentiment-Analysis-AWS-project"
              target="_blank"
              ><i class="fab fa-github"></i
            ></a>
            <a
              href="https://www.linkedin.com/in/anshul-patre-b36273203/"
              target="_blank"
              ><i class="fab fa-linkedin"></i
            ></a>
          </div>
        </div>
        <div class="image-section">
          <img src="../static/images/anshul_image.jpg" />
          <img src="../static/images/sourav_image.jpg" />
        </div>
      </div>
    </div>
  </body>
</html>
