<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Analyzer</title>
    <link rel="stylesheet" href="../static/css/style_index.css" />
  </head>
  <body>
    <div class="background-image">
      <nav class="navbar">
        <div class="brand-title">EmotionAI</div>
        <a href="#" class="toggle-button">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>
        <div class="navbar-links">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Docs</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <script src="../static/javascript/main_index.js"></script>
  </body>
</html>
